#fullBody{
    top:15%;
    left:35%;
    width:350px;
    height:500px;
    position:absolute;
    perspective:400px;//50% 50%;
}
#wall{
    background:transparent;//lightgrey;
    position:absolute;
    left:12%;
    top:10%;
    perspective-origin:50% 50%;//250px 200px;
    perspective:800px;
    width:250px;
    height:400px;
    border:15px solid rgb(225,130,170);
    box-shadow:5px 0px 15px black;
    overflow:hidden;
}
#content{
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    color:whitesmoke;
    text-align:center;
    padding:20px;
    margin:6px;
    font-size:2.2em;
    text-shadow:0px 1.2px rgb(205,205,205);
}
.extreme{
    width:342px;
    height:31px;
    background:rgb(225,130,170);
    position:absolute;
    border-radius:0 0 40px 40px;
    border:1px solid black;
    box-shadow:5px 0px 5px black;
}
#tope{
    top:3.5%;
}
#bottome{
    transform:rotateX(180deg);
    top:90.3%;
}
#bottomWall{
    width:250px;
    height:12px;
    background:grey;
    transform-origin:100% 0%;
    transform:translateY(358px) skew(-20deg,0deg) translateX(5px);
}
#door{
    z-index:2;
    position:relative;
    cursor:pointer;
    transform-style:preserve-3d;
    transition:transform 2s;
    transform-origin:0% 50%;
}
#front,#back,#left,#right,#top,#bottom{
    position:absolute;
    border:1px solid black;
}
#front,#back{
    background:rgb(225,140,190);
    width:220px;
    height:370px;
}
#top,#bottom{
    background:darkgrey;
    width:220px;
    height:10px;
}
#left,#right{
    background:darkgrey;
    width:10px;
    height:370px;
}
#front{
    transform:translateZ(5px);
    transform-origin:center center;
}
#back{
    transform:translateZ(-5px);
    transform-origin:center center;
}
#right{
    transform:rotateY(90deg) translateZ(215px);
    transform-origin:top top;
}
#left{
    transform:rotateY(90deg) translateZ(-5px);
    transform-origin:top top;
}
#top{
    transform:rotateX(90deg) translateZ(5px);
    transform-origin:top bottom;
}
#bottom{
    transform:rotateX(90deg) translateZ(-365px);
    transform-origin:top bottom;
}
#knob{
    position:absolute;
    top:40%;
    left:76%;
    background:grey;
    width:20px;
    height:20px;
    border-radius:10px;
    box-shadow:0px 6px 4px black;
}
#knob:hover{
    transform:scale(0.9,0.9);
	box-shadow:0px 6px 2px rgb(225,180,220);
}