body{
    overflow:hidden;
}
#topNav{
    height:100px;
    background:black;//rgba(245,245,245,0.7);
//    background:url('../../header.png');
    background-size:100% 100%;
    padding:1.5%;
}
#quote{
    position:relative;
    bottom:85%;
    font-size:2em;
    font-style:italic;
}
#bottomNav{
    height:30px;
    background:black;//rgba(245,245,245,0.7);
}   
#bottomNav ul{
    position:relative;
    bottom:20%;
}
#topNav ul li,#bottomNav ul li{
    list-style-type:none;
    display:inline;
}
.mainCol{
    position:relative;
    top:140px;
    margin-left:20px;
    border-radius:5px;
    padding-top:2%;
    padding-bottom:2%;
    transition:width 2s;
}
#leftSideBar{
    height:100%;
    padding:0%;
}
#leftSideBar img{
    width:100%;
    height:480px;
}
#centerBar{
    height:100%;
}
#centerBar ul li{
    list-style-type:none;
    background:grey;
    left:2%;
    margin-right:16%;
    margin-bottom:3%;
    border-radius:5px;
    height:100px;
    padding:2%;
    transition:opacity 1s;
}
#buttonContainer{
    position:relative;
    top:120px;
    left:85%;
    width:135px;
}
#buttonContainer button{
    background-image:-moz-linear-gradient(top,rgb(235,235,235) 0%,white 50%,rgb(235,235,235) 100%);
}